aioredis==2.0.1
aiosmtplib==1.1.6
alembic==1.7.5
aniso8601==9.0.1
ansible==5.3.0
ansible-core==2.12.2
anyio==3.5.0
apispec==5.1.1
appdirs==1.4.4
appnope==0.1.2
asgiref==3.5.1
async-timeout==4.0.2
attrs==21.4.0
autopep8==1.5.5
backcall==0.2.0
bcrypt==3.1.7
beautifulsoup4==4.9.3
black==22.3.0
blinker==1.4
Brotli==1.0.9
bs4==0.0.1
certifi==2019.6.16
cffi==1.14.0
cfractions==1.4.0
chardet==3.0.4
charset-normalizer==2.0.12
click==8.1.3
ConfigArgParse==1.5.3
cryptography==36.0.1
debugpy==1.5.1
decorator==5.1.0
Deprecated==1.2.13
distlib==0.3.1
dnspython==2.2.1
ecdsa==0.17.0
email-validator==1.2.1
entrypoints==0.3
fakeredis==1.7.1
fastapi==0.75.2
fastapi-jwt-auth==0.5.0
fastapi-mail==1.0.8
filelock==3.0.12
Flask==2.0.3
Flask-BasicAuth==0.2.0
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.10
Flask-JWT-Extended==3.24.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==3.1.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.1
flask-swagger==0.2.14
flask-swagger-ui==3.36.0
Flask-WTF==1.0.1
gevent==21.12.0
geventhttpclient==1.5.3
greenlet==1.1.0
ground==7.1.1
gunicorn==20.0.4
h11==0.12.0
httpcore==0.14.7
httptools==0.4.0
httpx==0.22.0
idna==2.9
iniconfig==1.1.1
ipykernel==6.4.2
ipython==7.28.0
ipython-genutils==0.2.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.3
jupyter-client==7.0.6
jupyter-core==4.9.0
locust==2.8.2
Mako==1.1.6
MarkupSafe==2.0.1
marshmallow==3.14.1
matplotlib-inline==0.1.3
msgpack==1.0.3
mypy-extensions==0.4.3
nest-asyncio==1.5.1
orjson==3.6.8
packaging==21.3
parso==0.8.2
pathspec==0.9.0
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==2.5.2
pluggy==1.0.0
powerline-status==2.7
prompt-toolkit==3.0.21
protobuf==3.19.4
psutil==5.9.0
psycopg2==2.8.5
ptyprocess==0.7.0
py==1.11.0
pyasn1==0.4.8
pycodestyle==2.6.0
pycparser==2.20
pydantic==1.9.0
Pygments==2.10.0
PyJWT==1.7.1
pynput==1.7.3
pyobjc-core==7.3
pyobjc-framework-Cocoa==7.3
pyobjc-framework-Quartz==7.3
pyparsing==3.0.7
pytest==7.1.2
pytest-sugar==0.9.4
python-dateutil==2.8.2
python-decouple==3.6
python-dotenv==0.20.0
python-jose==3.3.0
python-multipart==0.0.5
pytz==2021.3
PyYAML==6.0
pyzmq==22.3.0
redis==4.1.4
reprit==0.6.0
requests==2.27.1
resolvelib==0.5.4
rfc3986==1.5.0
rope==0.18.0
roundrobin==0.0.2
rsa==4.8
shewchuk==4.0.0
six==1.14.0
sniffio==1.2.0
socketlabs==0.1.1
socketlabs-injectionapi==1.0.1
sortedcontainers==2.4.0
soupsieve==1.9.2
SQLAlchemy==1.3.16
SQLAlchemy-Utils==0.37.7
sqlparse==0.4.2
starlette==0.17.1
symba==0.6.0
termcolor==1.1.0
toml==0.10.2
tomli==2.0.1
tornado==6.1
traitlets==5.1.1
typing_extensions==4.1.1
ujson==5.2.0
urllib3==1.25.3
uvicorn==0.17.6
uvloop==0.16.0
virtualenv==20.3.1
watchgod==0.8.2
wcwidth==0.2.5
webargs==8.0.1
websockets==10.3
Werkzeug==2.0.2
wrapt==1.14.1
WTForms==3.0.1
yapf==0.31.0
zope.event==4.5.0
zope.interface==5.4.0
